<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.dssmv">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA" />

    <application
            android:allowBackup="true"
            android:icon="@mipmap/asteroid"
            android:label="Asteroid Finder"
            android:roundIcon="@mipmap/asteroid"
            android:supportsRtl="true"
            android:theme="@style/Theme.DSSMV">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ListAsteroid">

        </activity>
        <activity android:name=".AsteroidActivity">

        </activity>
    </application>

</manifest>